$fontBase: "Montserrat", sans-serif;
$fontSizeBase: 16px;
$space: 10px;
$colorDark: #4b4c4e;
$colorBase: #e5bc00;
$colorBorder: #dadada;

body {
  background: #f3f3f3;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: $colorDark;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select {
  outline: none;
  font-family: $fontBase;
  font-size: $fontSizeBase;
  box-sizing: border-box;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2 {
  font-weight: bold;
  font-size: $fontSizeBase + 54;
  color: #fff;
  padding: 0;
  margin: 0;
}

.mainer {
  max-width: 940px;
  padding: 0 $space;
  margin: 0 auto;
}

.block-preview {
  height: 700px;
  overflow: auto;
  background-size: cover;
  background-position: center;
  margin: 0 0 ($space * 3) 0;

  .block-caption {
    font-size: $fontSizeBase + 8;
    color: #fff;
    text-align: center;
    margin: 0 0 ($space * 3) 0;
  }

  .block-description {
    font-weight: 200;
    text-align: center;
    color: #fff;
    line-height: $space * 3;
  }

  .block-play {
    width: 125px;
    height: 125px;
    margin: ($space * 22) auto ($space * 3) auto;
    background-image: url("../img/play-bg.svg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.block-genres {
  margin: 0 0 ($space * 3) 0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid $colorBorder;

    li {
      line-height: $space * 8;
      flex-grow: 1;
      text-align: center;
      padding: 0 $space;
      position: relative;
      cursor: pointer;
      transition-duration: 0.3s;
      text-transform: uppercase;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 3px;
        width: 100%;
        background-color: transparent;
        transition-duration: 0.3s;
      }

      &:hover,
      &.active {
        color: $colorBase;

        &:before {
          background-color: $colorBase;
        }
      }
    }
  }
}

.block-grid {
  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -$space;
  }

  .grid-cell {
    flex-grow: 1;
    width: 280px;
    padding: $space;

    &.empty {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.block-card {
  position: relative;

  &:hover {
    .buttons {
      background-color: rgba(0, 0, 0, 0.7);

      .btn {
        transform: translateX(0) !important;
      }
    }
  }

  .poster {
    height: 470px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
  }

  .label {
    position: absolute;
    top: $space;
    left: -$space;
    line-height: $space * 4;
    background-color: $colorBase;
    font-size: $fontSizeBase - 2;
    color: #b5121b;
    padding: 0 ($space * 2);
    z-index: 5;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0 10px 10px 0;
  }

  .favourite {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $colorBase;
    color: #fff;
    width: $space * 5;
    height: $space * 5;
    border-radius: 50px 0 0 0;
    border: none;
    font-size: $fontSizeBase + 21;
    padding: 7px 0 0 7px;
    transition: 0.3s;
    transform-origin: bottom right;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }

  .body {
    background-color: #fff;
    padding: $space * 2;
  }

  .caption {
    font-weight: 600;
    font-size: $fontSizeBase + 1;
    margin: 0 0 $space 0;
  }

  .genres {
    font-weight: 500;
    font-size: $fontSizeBase - 3;
    color: $colorBase;
    margin: 0 0 ($space * 1.5) 0;
  }

  .buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    padding: $space * 8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .btn {
      margin: ($space * 2) 0 0 0;
      transform: translateX(-200%);
      transition-duration: 0.3s;

      &:first-child {
        margin: 0;
        transform: translateX(200%);
      }
    }
  }
  .rating {
    display: flex;
    align-items: center;
    .amount {
      font-weight: 500;
      font-size: $fontSizeBase + 4;
      margin: 0 0 0 ($space * 1.5);
    }

    .stars {
      width: 109px;
      height: 16px;
      background-image: url(../img/rating-bg.png);
      background-position: bottom left;
      span {
        display: block;
        height: 100%;
        background-image: inherit;
      }
    }
  }
}

.btn {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: 1px solid;
  background-color: transparent;
  height: 45px;
  box-sizing: border-box;
  transition-duration: 0.3s;

  &:hover {
    color: $colorBase;
  }
}

.load-more {
  padding: ($space*2) 0;
  .btn {
    width: 45px;
    margin: 0 auto;
    background-color: $colorBase;
    color: #fff;
    border-radius: 50%;
  }
}
  